%table#assets
  %thead
    %tr.header
      %th file name
      %th content type
      %th file size
      %th actions
  %tbody
    - @assets.each do |asset|
      %tr.body
        %td
          = link_to asset.data_file_name, asset_path(asset)
          = link_to '(direct)', asset.data.url
        %td= asset.data_content_type
        %td= asset.data_file_size
        %td.actions
          = link_to 'edit', edit_admin_asset_path(asset)
          = link_to 'delete', admin_asset_path(asset), :confirm => 'Are you sure?', :method => :delete
